* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.head {
    /* background-image: url('images/bgpic.jpg'); */
    height: 680px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    top: 0;
    position: absolute;
    margin-left: 10%;

}

.main {
    display: flex;
}

.bgImg {
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0.3;
    height: 500px;
}

#img {
    width: 100px;
    height: 35px;
    color: white;
    margin-top: 2rem;

}

.btns button {
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 35px;
    width: 110px;
    font-family: sans-serif;
    right: 8%;
    position: fixed;
}

.text {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: absolute;
    margin-left: 10%;
    margin-top: -400px;
    position: absolute;
    width: 81%;
}

.text h1,
h4 {
    margin-bottom: 20px;
    font-weight: 400;
    text-align: center;
}

.text h1 {
    font-weight: 900;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;

}

.email button {
    background-color: red;
    margin-left: 10px;
    color: white;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid grey;
    font-family: Arial, sans-serif;
}

.email input {
    padding: 15px 50px 15px 0px;
    border-radius: 5px;
    color: aliceblue;
    background-color: black;
    opacity: 0.7;
    font-size: 1.1rem;

}

.line {
    width: 95%;
    height: 2px;
    background-color: red;
    margin-top: 2px;
    margin: 20px;

}

.section {
    color: white;
    padding: 0px 20px;
    margin-top: -142px;

}

#movies {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: calc(16% - 20px);
}

#movies:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    border: 2px solid white;
}

.Trending {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.Trending img {}

.section #label {
    font-size: 2rem;
    margin-bottom: 30px;
    color: white;
}

@media (max-width: 600px) {
    .email input {
        padding: -5px;

    }



    .email button {
        font-size: 15px;
        padding: -5px;
    }
}

#box {
    background-color: rgb(3, 7, 67);
    opacity: 0.6;
    width: 250px;
    border-radius: 15px;
    text-align: center;
    margin: 10px;


}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main h2 {
    margin-left: 10%;
    color: white;
    margin-top: 1rem;
}

#icon {
    font-size: 90px;
    color: rgb(132, 7, 7);
    float: right;
    margin-top: 60px;
    ;
    margin-right: 10px;
}

.link-card {
    background-color: rgb(69, 69, 69);
    padding: 26px;
    width: 70%;
    margin-left: calc(15% - 26px);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.link-card:hover {
    background-color: gray;
    color: white;
}

#add {
    float: right;
    font-size: 20px;
}

.container h2 {
    margin-left: 15%;
}

.end {
    margin-top: 40px;

}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

#contact {
    margin-left: 10%;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-top: 20px;

}

li {
    list-style-type: none;
    margin: 25px 45px;
}

li a {
    color: white;
    font-size: 15px;
}

span {
    color: white;
    font-size: 25px;
    margin-left: 50px;
}

h5 {
    color: white;
    font-size: 15px;
    margin-left: 50px;
}

select {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;

    font-size: 15px;
}

#language {
    margin-left: 10%;
    font-size: 15px;
}

.language button {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    width: 80px;
    margin-left: 10px;
}